<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>var toPass="Variable passed to vue element"</script>
    <script src="https://unpkg.com/vue@2.7.15"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

      <h2 @click="changeMessage">Yes - money.  Vue instance in the house with a reactive {{var1}} </h2>
      <button-counter></button-counter>
      </div> 

    <script>

      Vue.component('button-counter', {
        data: function() {
          return { 
            count:0
          }
          },
        template: '<button @click="count++">You clicked me {{count}} times. </button>'
      })

      var vm = new Vue({
        el: '#app',
        //template: '<h2>Yes - money.  Vue instance in the house with a reactive /h2>',
        data: {
          var1: 'reactiveElement'
        },
        methods: {
          changeMessage: function() {
            this.var1 = "'You changed it!'";
          }
        }
      })

      
        
  

  

      </script>
 
 

    
  </body>
</html>
